@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

#headingbox{
    margin-top: 30vh;
    font-family: "Raleway", sans-serif;
    text-align: center;
}
#headingbox h1{
    margin: 0vh;
    font-size: 3em;
}
#headingbox p{
    margin: 0vh;
    font-size: 1em;
    font-weight: 250;
    color: #c3bfbf;
    font-family: "poppins", sans-serif;
}

 #contentbox{
    margin: 50vh 2vw 1vh 2vw;
    display: flex;
    scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
    gap:3vw;
}
 #contentbox .box{
    gap:2vw;
    width:70vw;
    background-color: #141414;
    border-radius: 10px;
    padding: 5px;
}

 #contentbox .box h2{
    font-size: 1.3em;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    text-align: center;
}

 #contentbox .box p{
    margin:0;
    padding: 1vw 1vw;
    font-size: 0.8em;
    font-family: "poppins", sans-serif;
    font-weight: 250;
    text-align: justify;
}

/************ Responsive Adjustments for Laptops & Tablets***************/
@media (max-width: 1024px) {  
    #headingbox h1{
        font-size: 2.5em;
    }
    #headingbox p{
        font-size: 0.9em;
    }
     #contentbox{
        margin: 55vh 2vw 1vh 2vw;
        display: grid;
        justify-content: center;
    }
     #contentbox .box{
        width:93vw;
        height: 23vh;
    }
}

/************ Responsive Adjustments for Phone***************/
@media (max-width: 480px) {  
    #headingbox h1{
        font-size: 2.8em;
    }
    #headingbox p{
        font-size: 0.8em;
    }
     #contentbox{
        margin: 48vh 2vw 1vh 2vw;
        display: grid;
        justify-content: center;
        gap:4vh;
    }
     #contentbox .box{
        gap:2vh;
        width:93vw;
        height: 33vh;
    }
}
